<h2>Paises</h2>
<hr style="opacity: 100;"  >

<ul class="list-group">

  <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item list-group-item-action list-group-item-success">
    Home Page
  </li>

  <!-- <li routerLink="about" routerLinkActive="active" class="list-group-item">
    About Page
  </li>

  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    contact Page
  </li> -->
  <!--  -->

  <li routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-success">
    Por Capital
  </li>

  <li routerLink="countries/by-country" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-success">
    Por Pais
  </li>

  <li routerLink="countries/by-region" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-success">
    Por Region
  </li>

  <!-- <li routerLink="countries/by/:id" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-success">
    Por ID
  </li> -->
</ul>
